[build]
  command = "pnpm run build"
  functions = "netlify/functions"
  publish = "dist/spa"

[functions]
  external_node_modules = ["express", "multer", "cors", "dotenv"]
  node_bundler = "esbuild"
  included_files = ["products.json", "private-products/**"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
